*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: $color-dark;
    color: $color-gray;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.container {
    margin: 0 auto;
    width: 1440px;

    @media only screen and (max-width: 1500px) {
        width: 1200px;
    }
}

.section {

    &__title {
        margin-bottom: 50px;
        color: $color-gray;
        font-weight: 500;
        font-size: 56px;

        @media only screen and (max-width: 1500px) {
            font-size: 48px;
        }
    }
}


.works {
    margin: 0 0 150px 0;
}
