.header {
    padding: 25px 0;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        h1 {
            a {
                &:link,
                &:visited {
                    display: block;
                    color: $color-gray;
                    font-weight: 700;
                    font-size: 24px;
                    text-decoration: none;
                    transition: color .2s ease-in;
                }
                &:hover {
                    color: $color-main;
                    span {
                        color: $color-gray;
                    }
                }
                &:focus {
                    outline: 2px solid yellow;
                    outline-offset: 4px;
                }
                &:active {
                    outline: none;
                }
                span {
                    color: $color-main;
                    transition: color .2s ease-in;
                }
            }
        }
    }
}
