:root {
  --color-main: #00a3ff;
  --color-dark: #242425;
  --color-light: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins';
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
}

.logo h1 {
  font-size: 18px;
  font-weight: medium;
}

.nav ul {
  display: flex;
  list-style-type: none;
  color: var(--color-light);
}

.nav ul li:not(:last-child) {
  margin-right: 40px;
}

.hero,
.contact {
  display: flex;
  height: 100vh;
}

.hero > .half,
.contact > .half {
  flex: 0 0 50%;
}

.hero > .half {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero > .cta {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-80%);
}

.hero > .half:first-child {
  position: relative;
}

.half {
  padding: 80px;
}

.half-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 166%;
}

.text span {
  color: var(--color-main);
}

.btn {
  border: none;
  padding: .3em 2.4em;
  border-radius: .05em;
  background: var(--color-main);
  cursor: pointer;

  font-weight: normal;
  font-size: 24px;
  line-height: 166%;
  text-transform: lowercase;
  color: var(--color-dark);
}

.arr {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
}

.arr svg {
  width: 24px;
  height: 24px;
  fill: var(--color-light);
}

.works {
  height: 100vh;
  background: var(--color-dark);
}

.testemonials {
  height: 100vh;
  background: var(--color-light);
}

.testemonials .arr svg {
  fill: var(--color-dark);
}

/* Form */
fieldset {
  border: none;
}

label {
  font-size: 14px;
  line-height: 166%;
  color: var(--color-light);
  display: block;
}

label span {
  color: var(--color-main);
}

input,
textarea {
  display: block;
  background: #2a2a2b;
  border: none;
  border-bottom: 1px solid var(--color-light);
  padding: 5px 10px;
  width: 300px;
  margin-bottom: 20px;

  color: var(--color-light);
  font-size: 15px;
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  width: 400px;
}

.icon {
  fill: rgba(0, 162, 255, 0.2);
  width: 60px;
  height: 60px;
}

.social ul {
  list-style-type: none;
}

.social li,
.mail p {
  display: flex;
  align-items: center;
}

.social li:not(:last-child) {
  margin-bottom: 20px;
}

.social li a,
.mail p a {
  font-size: 20px;
  line-height: 166%;
  color: var(--color-dark);
  transform: translateX(-40px);
}

.social h2,
.mail h2,
.contact-form h2 {
  font-size: 38px;
  line-height: 166%;
  color: var(--color-dark);
  margin-bottom: 25px;
}

.contact-form h2 {
  color: var(--color-light);
}

.social {
  margin-bottom: 40px;
}

.testemonials,
.works {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

.testemonial {
  height: 300px;
  padding: 30px;
  background: var(--color-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testemonial blockquote {
  font-size: 16px;
  line-height: 170%;
  color: var(--color-light);
}

.testemonial cite {
  font-style: italic;
  font-size: 16px;
  line-height: 170%;
  color: var(--color-light);
  display: block;
  text-align: right;
}

.glide__track {
  margin-bottom: 10px;
}

.work {
  height: 360px;
  background: var(--color-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 0;
}

.work h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 166%;
  color: var(--color-dark);
  text-align: center;
}


/* Utilities */
.light {
  color: var(--color-light)
}

.dark {
  color: var(--color-dark);
}